.MuiContainer-maxWidthLg {
  display: flex !important;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  #keyboard {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    width: 100vh;
  }
}

#key-list {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  #key {
    padding: 24px;
    margin: 5px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    .key-data {
      font-size: 20px;
      font-weight: bold;
      font-family: monospace;
    }
  }
}

.key-correct {
  background: #6aaa64;
  color: #fff;
}

.key-present {
  background: #c9b458;
  color: #fff;
}

.key-absent {
  background: #787c7e;
  color: #fff;
}
