#keyboard {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#key-list {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  gap: 7px;

  #key {
    width: 12vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    border: 2px solid #d3d6da;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: -3px 3px 7px 0px rgb(0 0 0 / 40%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .key-data {
      font-size: 1rem;
      font-weight: bold;
      font-family: monospace;
    }
  }
}

.key-correct {
  background: #6aaa64;
  color: #fff;
}

.key-present {
  background: #c9b458;
  color: #fff;
}

.key-absent {
  background: #787c7e;
  color: #fff;
}