.App {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  text-align: center;
  position: absolute;
}

.App[data-dark='true'] {
  background-color: black;
  background-image: linear-gradient(185deg, #242424 0%, #2c3e50 74%);
  color: white;
}

.App[data-dark='false'] {
  background-image: linear-gradient(254deg, #fbe2fb 0%, #97d9e1 100%);
}

.App[data-dark='true'] svg {
  color: white;
}

.App[data-dark='true'] #key {
  box-shadow: -4px 4px 7px 0px rgb(72 80 89) !important;
}

.App[data-dark='true'] .letter {
  box-shadow: -3px 3px 7px 0px rgb(255 255 255 / 25%) !important;
}

.MuiDialog-root[data-dark='true'] .MuiDialog-paper {
  background-color: #121213 !important;
  background-image: none !important;
}
.MuiDialog-root[data-dark='true'] .MuiDialogContent-root {
  border-bottom: none !important;
}

button {
  background-color: transparent !important;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  .Title {
    font-weight: bold;
    font-size: 30px;
  }
  .reset-board {
    padding: 0px 5px 15px 20px;
    background: none;
    color: #6aaa64;
    border: none;
    font-size: 38px;
    cursor: pointer;
  }
  .info {
    border: none;
    font-size: 38px;
    cursor: pointer;
  }
}

.message {
  width: fit-content;
  min-height: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background: #787c7e;
  font-size: 16px;
}

.message[data-hidden='true'] {
  opacity: 0;
}

.cube {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .cube-row {
    display: flex;
    flex-direction: row;
    gap: 7px;
    .letter {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 700;
      width: 60px;
      height: 60px;
      box-shadow: -3px 3px 7px 0px rgb(0 0 0 / 40%);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}

p,
h2 {
  text-transform: uppercase;
  font-family: system-ui !important;
}
.cube-row.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.MuiContainer-maxWidthSm {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.correct {
  background: #6aaa64;
  color: #fff;
}

div[class*='correct'] {
  border-color: #6aaa64 !important;
}

.present {
  background: #c9b458;
  color: #fff;
}

div[class*='present'] {
  border-color: #c9b458 !important;
}

.absent {
  background: #787c7e;
  color: #fff;
}

div[class*='absent'] {
  border-color: #787c7e !important;
}

@media screen and (max-device-height: 640px) and (max-device-width: 414px) {
  .App {
    right: auto;
    bottom: -108.7vh !important;
  }
}

@media screen and (min-device-width: 360px) and (min-device-height: 641px) and (max-device-height: 668px) {
  .App {
    right: auto;
    bottom: -100.5vh !important;
  }
}

@media screen and (min-device-height: 668px) and (max-device-height: 741px) and (max-device-width: 414px) {
  .App {
    bottom: -114.5vh !important;
  }
}

@media screen and (min-device-height: 741px) and (max-device-height: 786px) and (max-device-width: 414px) {
  .App {
    bottom: -108vh !important;
  }
}

@media screen and (min-device-height: 787px) and (max-device-height: 851px) and (max-device-width: 414px) {
  .App {
    bottom: -124.7vh !important;
  }
}

@media screen and (min-device-height: 852px) and (max-device-height: 896px) and (max-device-width: 414px) {
  .App {
    bottom: -124vh !important;
  }
}

@media screen and (min-device-width: 360px) and (max-device-width: 414px) and (min-device-height: 668px) {
  .App {
    top: 0;
    right: auto;
    left: 0;
    bottom: -129.7vh;
  }
  #keyboard {
    width: 100vh;
  }
  #key {
    width: 5rem !important;
  }
  .message {
    margin-top: 50px;
    min-height: 22px;
    font-size: larger;
  }
  .letter {
    width: 12vh !important;
    height: 12vh !important;
  }
  .Title {
    font-size: 55px !important;
  }
  .info {
    font-size: 50px !important;
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 2rem !important;
    }
  }
}
