.App {
  text-align: center;
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  color: black;
  justify-content: space-between;
  bottom: 0;
  top: 0;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;

}

.App[data-dark='true'] {
  background-color: black;
  color: white;
}

.App[data-dark='false'] {
  background-image: linear-gradient(254deg, #fbe2fb 0%, #97d9e1 100%);
}

.App[data-dark='true'] svg {
  color: white;
}

.App[data-dark='true'] #key {
  box-shadow: -5px 2px 9px 0 #485059 !important;
}

.App[data-dark='true'] .letter {
  box-shadow: -3px 3px 7px 0px #485059 !important;
}

.App[data-dark='true'] .message {
  box-shadow: -10px 4px 32px 0px #485059 !important;
  color: white;
}

.MuiDialog-root[data-dark='true'] .MuiDialog-paper {
  background-color: #121213 !important;
  background-image: none !important;
}

.MuiDialog-root[data-dark='true'] .MuiDialogContent-root {
  border-bottom: none !important;
}

button {
  background-color: transparent !important;
}

.header-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .Title {
    font-weight: bold;
    font-size: 30px;
  }

  .reset-board {
    padding: 0px 5px 15px 20px;
    background: none;
    color: #6aaa64;
    border: none;
    font-size: 38px;
    cursor: pointer;
  }

  .info {
    border: none;
    font-size: 38px;
    cursor: pointer;
  }
}

.message {
  width: fit-content;
  display: flex;
  place-items: center;
  min-height: 1.875rem;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  box-shadow: -10px 4px 32px 0px rgb(92 90 79 / 45%);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  color: black;

}

.message[data-hidden='true'] {
  opacity: 0;
}

.cube {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .cube-row {
    display: flex;
    flex-direction: row;
    gap: 7px;

    .letter {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: 700;
      width: 12vw;
      height: 6vh;
      box-shadow: -3px 3px 7px 0px rgb(0 0 0 / 40%);
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}

p,
h2 {
  text-transform: uppercase;
  font-family: system-ui !important;
}

.cube-row.error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.correct {
  background: #6aaa64;
  color: #fff;
}

div[class*='correct'] {
  border-color: #6aaa64 !important;
}

.present {
  background: #c9b458;
  color: #fff;
}

div[class*='present'] {
  border-color: #c9b458 !important;
}

.absent {
  background: #787c7e;
  color: #fff;
}

div[class*='absent'] {
  border-color: #787c7e !important;
}

@media (min-width:320px) {

  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

}

@media (min-width:480px) {

  /* smartphones, Android phones, landscape iPhone */

}

@media (min-width:600px) {

  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .letter {
    width: 4vw !important;
    height: 7vh !important;
  }

  #key {
    width: 4vw !important;
    height: 7vh !important;
  }

}

@media (min-width:801px) {

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .letter {
    width: 4vw;
    height: 7vh;
  }

  #key {
    width: 4vw !important;
    height: 7vh !important;
  }
}

@media (min-width:1025px) {

  /* big landscape tablets, laptops, and desktops */
  .letter {
    width: 4vw;
    height: 7vh;
  }

  #key {
    width: 4vw !important;
    height: 7vh !important;
  }
}

@media (min-width:1281px) {

  /* hi-res laptops and desktops */
  .letter {
    width: 4vw;
    height: 7vh;
  }

  #key {
    width: 4vw !important;
    height: 7vh !important;
  }
}